# NMI Config File

[DB_CONFIG]  
db.host=10.30.132.34
db.database=rategps
db.user=nareshr
db.password=Arsin123#
db.port=3306

[FTP_CONFIG]
ftp.host=10.30.130.13
ftp.port=22
ftp.user=PRL_Naresh.Rasamalla
ftp.password=Nationalmi*123
ftp.target.folder=outputData\uiAutomation

[SFTP_CONFIG]
sftp.host=10.30.130.13
sftp.port=22
sftp.user=PRL_Naresh.Rasamalla
sftp.password=Nationalmi*123
sftp.target.folder=outputData\uiAutomation

[ENV_CONFIG]
environment=QAT-nmicore

[B2B_CONFIG]
headers = {Content-Type: application/xml}
B2BEndpoint=https://EDI.QAT.NMICORE.COM/NMISync
#B2BEndpoint=https://EDI.STG.NMICORE.COM/NMISync
XMLnamespaces = {'ns0': 'http://www.mismo.org/residential/2009/schemas'}
b2bUid=Qat_ProQA_Test
b2bPwd=B3foreDayS@L!ght
SubmissionType=B2B

[AXIS_CONFIG]
url=https://axis-int.qat.nmicore.com/axis/login
ext_url=https://axis.qat.nmicore.com/axis
UnderwriterMgruserid=tst_qat_axis_pmgruw
UnderwriterMgrpwd=Qwelcome@234
externaluserID=auto.orig-customer@autotest.com
externalpwd=Qwelcome@234
processoruserID=tst_qat_axis_prcsr
processorpwd=Qwelcome@234
solutionuserID=tst_qat_axis_psolctr
solutionpwd=Qwelcome@234
underwriteruserID=tst_qat_axis_pmgruw
underwriterpwd=Qwelcome@234
Servicing_SpecialistuserID=tst_qat_axis_pspec
Servicing_Specialistuserpwd=Qwelcome@234
Loan_Closer_InternaluserID=tst_qat_axiss_plncls
Loan_Closer_Internaluserpwd=Qwelcome@234
VPServicingUserID=tst_qat_axiss_pvpsvc##
VPServicingUserpwd=Qwelcome@234#ResultsMay!v@ry
quickSearchApplnNumber=2600012027
quickSearchLenderLoanNumber=TSQKSRCH.0001
quickSearchCertificateNumber=2600012022
quickSearchInvalidLenderLoanNumber=KSRCH.0001
DAR_ManagerID=tst_qat_axis_ppcmgr#tst_stg_a_darmgr#
DAR_ManagerPwd=Qwelcome@234
DAR_Manager_Reviewer_ID=tst_qat_axis_ppcmgr
#DAR_ManagerPwd=Qwelcome@234
DAR_ManagerReviewerID=tst_qat_axis_ppcrmgr
DAR_ManagerReviewerPwd=Qwelcome@234
SysAdminID=tst_qat_axis_psa
SysAdminPwd=Qwelcome@234
Claims_AnalystID=tst_qat_axis_pclmanl
Claims_Analystpwd=Qwelcome@234
SrUnderwriterID=tst_qat_axiso_psnruw
SrUnderwriterPwd=Qwelcome@234
QualityControluserID=tst_qat_axiso_pqc
QualityControlPwd=Qwelcome@234
ContractUnderwriterUserId=tst_qat_axiso_puwct
ContractUnderwriterUserPwd=Qwelcome@234
ServicerExternalUserID=auto.servicer@autotest.com
ServicerExternalPwd=Qwelcome@234
DisbursementSpecialistUserID=tst_qat_axis_pdisspc
DisbursementSpecialistPwd=Qwelcome@234
ServicingDirectorUserID=tst_qat_axiss_pdir
ServicingDirectorPwd=Qwelcome@234
IndexerUserID=tst_qat_axis_pindx
IndexerPwd=Qwelcome@234
SolutionMgrID=tst_qat_axis_pmgrsc
SolutionMgrpwd=Qwelcome@234
VPUnderwriterUserID=tst_qat_axiso_pvpuw
VPUnderwriterPwd=Qwelcome@234
VendorUnderwriterUserID=tst_qat_axiso_pvnduw
VendorUnderwriterPwd=Qwelcome@234
VendorSeniorUnderwriterUserID=tst_qat_axis_pvndsuw
VendorSeniorUnderwriterPwd=Qwelcome@234
UnderwriterDirectorUserID=tst_qat_axiso_puwct
UnderwriterDirectorPwd=Qwelcome@234
DARAnalystUserID=tst_qat_axiso_pdranl
DARAnalystPwd=Qwelcome@234
DROUserID=tst_qat_axis_prskdro
DROPwd=Qwelcome@234
VPRiskOpsUserID=tst_qat_axis_pvprsko
VPRiskOpsPwd=Qwelcome@234
NDPCRAnalystUserID=tst_qat_axiso_pcranl
NDPCRAnalystPwd=Qwelcome@234
CustomerManagerUserID=auto.customer-mgr@autotest.com
CustomerManagerPwd=Qwelcome@234
ContractUnderwriterExtUserId=auto-uw-contract@autotest.com
ContractUnderwriterExtPwd=Qwelcome@234
LoanCloserExternalUserID=auto-loan-close-vendor@autotest.com
LoanCloserExternalPassword=Qwelcome@234
QAReviewUserID=tst_qat_axiso_pqarvw
QAReviewPwd=Qwelcome@234
QAReviewDirectorUserID=tst_qat_axiso_pqarvd
QAReviewDirectorPwd=Qwelcome@234
NMIEmployeeUserID=tst_qat_axis_pnmiemp
NMIEmployeePwd=Qwelcome@234
SalesSupportUserID=tst_qat_axis_pslsup
SalesSupportPwd=Qwelcome@234
MilarAnalystUserID=tst_qat_axis_pmilran
MilarAnalystPwd=Qwelcome@234
InvestorUserID=auto-investor@autotest.com
InvestorPassword=Qwelcome@234
AccountantUserID=tst_qat_axis_pacctnt
AccountantPassword=Qwelcome@234
QAReinsuranceAnalystUserID=tst_qat_fin_pdirst3
QAReinsuranceAnalystPwd=Arch!tect20@19

[SAUCE_CONFIG]
sauceurl=http://AutoUIUser
sauceport=809dd542-0b58-4dd0-b7e5-514833748cba@ondemand.saucelabs.com:80

[JOBS_CONFIG]
MILARJOB=https://servicing-int.qat.nmicore.com/servicing/app/servicing/schedulerJob/runMilarReportJob
MILARREVALIDATIONJOB=https://servicing-int-qat.nmicore.com/servicing/app/servicing/schedulerJob/runMilarReportRevalidationJob
MILARINBOUNDFOLDER=/nfs_axis/svcg_b2b/milar/inbound/
MILARINBOUNDURL= ftp://tvt_ddadmin:f*fU@a123#@10.5.108.106/-hostkey=\ssh-rsa-09-bf-fc-19-a9-d8-53-a9-ad-7b-c3-07-a9-78-00-f9
NODJOB=https://servicing-int.qat.nmicore.com/servicing/app/dcm/schedulerJob/autoCureNod
B2BADRProcessing=https://servicing-int.qat.nmicore.com/servicing/app/b2b/schedulerJob/runB2BADRProcessingJob
 
[LightWell_CONFIG]
LightWellURL=http://10.30.132.14:10680/lw/client/index.html#/login
LightWellUName=pro-bhanu
LightWellPwd=Arsin123#


